.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}

.create-goal {
  margin: auto;
  padding: 10px;
}

.navigation {
  width: 100%;
  margin-bottom: 20px;
}

.valign {
  display: flex;
  align-items: center;
}
